@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


h1 {
    color: #01135B;
    font-size: 26px;
    font-weight: 800;
  }
  
  h2 {
    color: #011358;
    font-size: 20px;
    font-weight: 600;
  }
  
  h3 {
    color: rgb(240, 240, 240);
    font-size: 18px;
  }
  
  p {
    font-size: 15px;
  }
  
  .bg-blue {
    background-color: #01135B;
    color: rgb(240, 240, 240);
  }
  .bg-blue .bg-blue:hover {
    background-color: rgb(240, 240, 240);
    color: #01135B;
    border-color: #01135B;
    border-width: 2px;
  }




.nav{
    box-shadow: 0 0 15px rgb(1, 14, 71);
    background-color: rgb(1, 14, 71, 0.3);
    position: relative;
    top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    z-index: 3;
}
    nav img{
        width: 200px;
        padding: 6px;
    }
    nav ul{
        list-style: none;
        display: flex;
    }
    nav ul li{
        margin-right: 20px;
        padding-top: 10px;
    } 
    nav ul li a{
        text-decoration: none;
        color:rgb(245, 245, 245);
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        text-shadow: 1px 1px 3px black;

    }
    nav ul li a:hover{
        color: orange;
    } 
  
    


.Video img{
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index:-1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0 ;
    }
    .caja-container{
        color: white;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65vh;
        }
    .caja-container h1{
        font-size: 4em;
        color: white;
        font-weight: 550;
        text-shadow: 4px 4px 10px black;
    }



#pages{
    background-color: rgb(1, 14, 71);
}



.pie-pagina{
    background-color: rgb(1, 14, 71);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
    .box1{
        margin: 10px;
        padding: 10px
    }
    .box1 .red-social img{
        width: 25px;
    }
      .box1 .red-social a{
        text-decoration: none;
        display: inline-block;
        line-height: 10px;
        margin-right: 10px;
    }
    .box2{
        color: rgb(245, 245, 245);
        margin: 30px;
        padding-top: 6px;
    }





#galeria .carousel-slide{
        position: absolute;            
    }

    .marca-agua img{
        width: 90%;
        margin: 20px;
        opacity: 0.3;
        z-index: 2;
        
    }
    .headerfoto img{
        width: 100%;
    }
    .headerfoto{
        position: absolute;
    }





#home .marca-agua img{
        width: 100%;
        height: auto;

    }
    .marca-agua-staff{
        width: 100%;
        margin: auto;
        position: relative;
        opacity: 0.4;
        padding: 10px;
    }
    .marca-agua-staff img{
        width: 90%;
        margin: 10px;
    }


 
    

#cursos{
    width: 95%;
    margin: 20px 20px;
    padding: 10px;
}
#cursos .row{
    margin: 5px;
    top: 50%;
    left: 50%;
    }
    .card{
        box-shadow: 1px 1px 8px rgb(180, 180, 180);
        margin: 0;
        text-align: justify;
        display: flex;
        flex-direction: column;

    }
    .card-title{
        font-size: 16px;
        font-weight: 600;
        color: #01135b;
    }
    .card-text{
        font-size: 15px;
        flex-grow: 1;
    }
    #cursos-especiales{
        width: 100%;
        background-color: rgb(203, 220, 236);
        border-radius: 1em;
        text-align: center;
        padding: 20px;
        justify-content: center;
    }
    
    




#mainhome{
    display: flex;
    flex-direction: column;
    width: 95%;
}
    .home{
        display: flex;
        flex-direction: row;
    }
    .container{
        margin: 20px 15px;
    }
    .map-container{
        margin: 20px 15px;
        display: flex;
        flex-direction: column;
    }
    main .imgs-redes h2{
        font-size: 15px;
    }
    .imgs-redes{
        margin: 15px;
    }
    main a{
        text-decoration: none;
        display: inline-block;
        line-height: 10px;
        margin-right: 10px;
    }
    main img{
        width: 30px;
    }
    .derecha{
        padding: 10%;
        margin: 15px;
        border-radius: 1em;
        }
    .reseña{
        margin: 25px;
        width: 95%;
        padding: 20px;
    }





#contacto{
    margin: 20px;
   
}
    .contactar{
        width: 45%;
    }
    .contact{
        display: flex;
    }
    .contact img{
        width: 18px;
        margin: 5px;
    }
    .contactemail{
        display: flex;
    }
    .contactemail img{
        width: 20px;
        margin: 5px;
    }
    
    


         

#grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 30% (2,1fr);
    padding: 10px;
    grid-template-areas: 
    "res res res"
    "fotoa infoa infoa"
    "infob infob fotob";
    gap: 30px;
    justify-content: center;
}
    .resumen{
        grid-area: res;
    }
    .foto1{
        grid-area: fotoa;
    }
    .foto1 img{
        width: 250px;
        border-radius: 1em;
    }
    .info1{
        grid-area: infoa;
    }
    .foto2{
        grid-area: fotob;
    }
    .foto2 img{
        width: 300px;
        border-radius: 1em;
    }
    .info2{
        grid-area: infob;
    }






    
@media (width < 768px){
    .home{
        flex-direction: column;
        align-content: center;
        text-align: justify;
    }
    .caja-container{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
    }
    .caja-container h1{
        font-size: 2em;
    }
    .container{
        max-width: 760px;
    }
    .derecha{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        margin: 1px 10px;
    }
    .map-container iframe{
        width: 100%;
        margin: 15px;
    }



    .pie-pagina{
        background-color: rgb(1, 14, 71);
        width: auto;
        display: flex;
        flex-direction:column;
        justify-items: center;
        align-items: center;
    }
    .box1{
        margin: 5px;
        padding: 5px
    }
    .box1 .red-social img{
        width: 25px;
    }
    .box1 .red-social img:hover{
        width: 30px;
    }
    .box2{
        padding-top: 0px;
        margin: 5px;
    }



    #cursos{
        padding: 0px 10px;
        text-align: justify;
    }
    .card{
        height: 650px;
    }
    .card .card-text{
        visibility: hidden;
        overflow: hidden;
    }
    .card-title{
        font-size: 20px;
        text-align: center;
    }
 
}