#cursos{
    width: 97%;
    margin: $margin;   
    text-align: justify; 
    .row{
        margin: 5px;
        top: 50%;
        left: 50%;
    }
    .card{
        box-shadow: $shadowWhaite;
        margin: 0px;
        text-align: justify;
        display: flex;
        flex-direction: column;
    }
    .card-title{
        font-size: $fontXs;
        font-weight: $textSemi;
        color: $mainColor;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .card-text{
        font-size: $fontXs;
        flex-grow: 1;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .cursos-especiales{
        width: 100%;
        background-color: $secundaryColor;
        border-radius: $border;
        text-align: center;
        padding: 20px;
        justify-content: center;
    }
       
}