.Video{
    img{
        width: 100%;
        object-fit: cover;
        position: absolute;
        z-index:-1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0 ;
    }
}

.presentacion{
    background-image:  url(/imgs/fotosprincipales/home1.png);
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.caja-container{
    text-align: center;
    width: 100%;
    h1{
        font-size: $fontXl;
        color: $white;
        font-weight: $textSemi;
        text-shadow: $textShadow;
    }
}

#mainhome{
    display: flex;
    flex-direction: column;
    width: 100%;
    .home{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        text-align: justify;
        .container{
            margin: $margin;
        }
        .derecha{
            margin: 20px;
            .map-container{
                margin: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                iframe{
                    border-radius: $border;
                    box-shadow: $shadow;
                    margin: 6px 0px; 
                    width: 500px;
                    height: 430px;                    
                }
            }
            .imgs-redes{
                margin: $margin;                
                a{
                    text-decoration: none;
                    display: inline-block;
                    line-height: 10px;
                    margin-right: 10px; 
                    text-decoration: none;
                    display: inline-block;
                    text-align: center;
                    line-height: 29px;
                    width: 30px;
                    border-radius: 50%;
                    transition: all .5s ease;
                    &:hover{
                        background-color: $secundaryColor;
                        box-shadow: $textShadow;
                    }
                }
                img{
                    width: $sizeMd;
                }
            }
        }
    }
    .reseña{
        background-color: $secundaryColor;
        border-radius: $border;
        text-align: center;
        display: grid;
        place-items: center;
        width: 95%;       
        box-shadow: $shadow;
        margin: $margin2;
        padding: 10px;
    }
}
