@media (width < 768px){
    .pie-pagina{
        text-align: center;
        width: auto;
        display: flex;
        flex-direction:column;
        justify-items: center;
        align-items: center;
        .box1{
            margin: 5px;
            padding: 5px
        }
        .box2{
        padding-top: 0px;
        margin: 5px;
        }
    }





    #mainhome{
        .home{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: justify;
            .container{
                max-width: 735px;
            }
            .derecha{
                margin: 0px 25px;
                .map-container{
                    margin: 0px;
                    iframe{
                        width: 100%;
                    }
                }
                .imgs-redes{
                    margin: 15px 0px;
                }
            }
        }
        .staff{
            margin: 0px 25px;
        }
        .card{
            width: 100%;
        }
        .reseña{
            width: 92%;
        }
    }




    main{
        .salidascortas{
            .salidas-diurnas{
                .tipo-diurnas{
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(6, 40vh);
                    grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis";
                }
            }
        }
    }
    



    #contacto{
        flex-wrap: wrap;
        .contactar{
            .img{
                margin: 0px 60px;  
                text-align: center;  
            }
        }
    }




    #prox-travesias{
        .travell{
            .travesias{
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6,40vh);
                grid-template-areas: "uno" "dos" "tres" "cuatro" "cinco" "seis";
            }
        }
    }    
    



    #error404{
        .boton{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: end;
        }
    }
  
}





@media (width < 480px){
    nav{
        img{
        width: 150px;
        padding: 1px;
        }
    }
    
    #mainhome{
        .home{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: justify;
            .container{
                max-width: 77vh;
                margin: 10px 5px;
            }
            .derecha{
                margin: 10px;
                .map-container{
                    margin: 0px 10px;
                    iframe{
                        width: 73vh;
                        height: 70vw;
                    }
                }
                .imgs-redes{
                    margin: 20px 10px;
                }
            }
        }
        .staff{
            margin: 0px 20px;
        }
        .cards{
            display: flex;
            flex-direction: column;
            max-width: 430px;
           
        }
        .reseña{
            margin: 20px;
            width: 74vh;
        }
    }

}




@media (width < 320px){
    #mainhome{
        .home{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: justify;
            .container{
                max-width: 77vh;
                margin: 5px 5px;
            }
            .derecha{
                margin: 0px 10px;
                .map-container{
                    margin: 0px 5px;
                    iframe{
                        width: 49vh;
                        height: 65vw;
                    }
                }
                .imgs-redes{
                    margin: 20px 5px;
                }
            }
        }
        .staff{
            margin: 0px 15px;
        }
        .cards{
            display: flex;
            flex-direction: column;
            max-width: 47vh;
           
        }
        .reseña{
            
        }
    }
}

