main{
    text-align: center;
    .salidascortas{
        .turismo{
            margin: $margin;
        }
        .salidas-diurnas{
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(2,26,149,1) 50%, rgba(255,255,255,1) 100%);
            width: 100%;
            padding: 15px;
            margin: 0px;
                        
            .tipo-diurnas{
                padding: 20px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: $border;
                    box-shadow: $shadow;
                    padding: 5px;
                }
                
                @include grid( 3, 4, 35px);
                grid-template-areas: "uno tres tres" "dos dos cuatro" "cinco cinco cuatro" "cinco cinco seis";
            
                .salida1{
                    grid-area: uno;                  
                }
                .salida2{
                    grid-area: dos;
                }
                .salida3{
                    grid-area: tres;
                }
                .salida4{
                    grid-area: cuatro;
                }
                .salida5{
                    grid-area: cinco;
                }
                .salida6{
                    grid-area: seis;
                }
            }          
        }
        .salidas-especiales{
            width: 100%;
            padding: 15px;
            margin: 0px;
            .card{
                margin: $margin;
                border-color: $mainColor;
                box-shadow: $shadow;
                .card-header{
                    background-color: $keyColor;
                    font-weight: $textRegular;
                    color: $mainColor;
                    font-weight: $textSemi;
                }
                .card-text{
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                }
            }
               
        }        
    }    
}



   




