$mainColor: rgb(1, 19, 91);
$mainColorb: rgba(1, 19, 91, 0.3);
$mainColorc: rgba(5, 5, 5, 0.3);
$secundaryColor: rgb(224, 236, 248);
$keyColor: orange;
$white: rgb(240, 240, 240);
$black: rgb(17, 17, 17);

$mainFont: 'Oswald';

$fontXs:18px;
$fontSm: 20px;
$fontMd: 22px;
$fontLg: 26px;
$fontXl: 4em;

//font-weight//
$textRegular: 300;
$textSemi: 500;
$textBold: 700;

$sizeXsm: 15px;
$sizeSm: 25px;
$sizeMd: 30px;
$sizeLg: 50px;
$sizeXlg: 250px;
$sizeMax: 300px;

$border: 1em;

$margin: 20px 15px;
$margin2: 0px 30px 30px;

$shadow: 1px 1px 10px rgb(177, 175, 175);
$textShadow: 4px 4px 3px rgb(17, 17, 17);
$shadowWhaite: 1px 1px 8px rgb(180, 180, 180);
