$mainColor: #01135B;
$mainColorb: rgba(1, 19, 91, 0.3);
$secundaryColor: rgb(200, 217, 233);
$keyColor: orange;
$white: rgb(240, 240, 240);
$black: rgb(17, 17, 17);

$mainFont: 'Montserrat';

$fontXs:15px;
$fontSm: 18px;
$fontMd: 20px;
$fontLg: 26px;
$fontXl: 4em;

$textRegular: 300;
$textSemi: 600;
$textBold: 800;

$sizeXsm: 15px;
$sizeSm: 25px;
$sizeMd: 30px;
$sizeLg: 50px;
$sizeXlg: 250px;
$sizeMax: 300px;

$border: 1em;

$shadow: 1px 1px 3px rgb(17, 17, 17);
$textShadow: 4px 4px 10px rgb(17, 17, 17);
$shadowWhaite: 1px 1px 8px rgb(180, 180, 180);
